.text{
    display: flex;
    align-items: center;
   
    justify-content: space-around;
   
}
.bakh{
    background-image: url(tbg.png);
    background-position: center;
    justify-content: space-around
}
.div1{
    border: 1px solid orangered;
    padding: 2px;
    margin: 10px;
}
.ft{
    color: orangered;
}